/****************************************************/
/*********************GENERAL***********************/
/****************************************************/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a:link {
  text-decoration: none;
}

a:active {
  opacity: 0.9;
}

/****************************************************/
/*************UTILITY CLASSES************************/
/****************************************************/

/******Colors******/

.txt-white {
  color: #ffffff;
}

.bgc-blue {
  background-color: #0c42ff;
}

.fw-500 {
  font-weight: 500;
}

.fz-2 {
  font-size: 2rem;
}

.card {
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.image {
  display: block;
  max-width: 100%;
}

.margin-auto {
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

/*Navbar*/

.navbar {
  max-width: 90rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 9rem;
  border: 1px solid #e2e6e9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 0;
  /* padding: 1.875rem 0; */
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.8125rem;
}

.navbar a:link,
.navbar a:visited {
  text-decoration: none;
  color: #631919;
  transition: all 0.3s ease-in-out;
}

.navbar a:link.profile-link,
.navbar a:visited.profile-link {
  background-color: #f2f2fd;
  padding: 6px 9px;
  border-radius: 50%;
}

/****************************************************/
/****************SECTION-THANKYOU********************/
/****************************************************/

.section-thank-you {
  max-width: 47rem;
  margin: 0 auto;
  padding: 5rem 2rem;
}

.btn-return-home-page {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  display: inline-block;
}

.thank-you-text {
  margin-top: 3.687rem;
  margin-bottom: 1.687rem;
}

/*Footer*/

.footer {
  height: 10rem;
  background-color: #ffffff;
  position: relative;
}

.hr {
  position: absolute;
  margin-top: 4.5rem;
  height: 1px;
  width: 85%;
  background-color: #e2e6e9;
  left: 6rem;
}

.footer p {
  position: absolute;
  right: 6.5rem;
  top: 4.8rem;
  color: #74809a;
  font-size: 14px;
}
